<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="style.css">-->
    <!--<script src="main.js" defer></script>-->
    <link rel="stylesheet" type="text/css" href="/static/main/css/style.css">
    <script src="main.js" href="/static/main/js/main.js" defer></script>
    <title>PKNU HACKERS TOEIC VOCA</title>
</head>
<body>
    <h1>해커스 VOCA 테스트</h1>
    <br>
    <button id="button1">js test</button>
</body>
</html>
