<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/main/css/style.css"><!--css 연결-->
    
    <title>PKNU HACKERS TOEIC VOCA</title>
</head>
<body>
    <h1>해커스 VOCA 테스트</h1>
    <br>
    <button id="button1">js test</button>
    
    <script src="/static/main/js/main.js" type="text/javascript"></script> <!--script 위치는 body 가장 아래에 있는게 좋다. event발생하는 경우 발생할 수 있는 오류를 미연에 방지-->
</body>
</html>
